extends layout

block content
  h1 #{loan.Patron.first_name} #{loan.Patron.last_name}: Return Book

  if errors
    ul
      each error in errors
        li= error

  p 
    strong Book Title: &nbsp;
    | #{loan.Book.title}
  p
    strong Loaned By: &nbsp; 
    | #{loan.Patron.first_name} #{loan.Patron.last_name}
  p 
    strong Loaned On: &nbsp; 
    | #{loan.loaned_on}
  p
    strong Return By: &nbsp;
    | #{loan.return_by}
  form(action=`/loans/${loan.id}/return/`, method="post")
    p
    strong Returned On: &nbsp;
    input#loan.returned_on(type='text', name='returned_on', value=`${formattedToday}`)
    p
    input(type='submit', value='Return Book')